.DS_Store

__pycache__/
*.pyc

backend/venv/
backend/.venv/

frontend/node_modules/

.env
.env.*

.vscode/

dist/
build/

.Python
*.egg-info/
.eggs/
.venv
venv/
env/
ENV/

.ipynb_checkpoints/

.mypy_cache/
.pytest_cache/
.ruff_cache/
.pytype/
.pyre/

.streamlit/secrets.toml
